// @import url('https://fonts.googleapis.com/css?family=Roboto+Serif:400,700.css');
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700.css');

html,
body {
  margin: 0;
  padding: 0;
}
.app {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  font-family: 'Roboto';
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 830px;
  .tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    font-size: 12pt;
    opacity: 0;
    padding: 4px 7px;
    position: fixed;
    z-index: 3;
  }
  .heading_container {
    color: #000;
    font-family: 'Roboto Serif';
    position: absolute;
    width: 100%;
    h1 {
      font-size: 26pt;
      line-height: 26pt;
      margin: 10px 0 0 0;
      padding: 0;
      text-align: center;
    }
    h3 {
      font-size: 20pt;
      line-height: 20pt;
      margin: 0 0 0 0;
      padding: 0;
      text-align: center;
    }
  }
  .chart_container {
    svg {
      .center_container {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15) inset;
        display: flex;
        margin: auto auto;
        position: fixed;
        text-align: center;
        img {
          height: 125px;
          margin: auto auto;
          width: 125px;
        }
      }
      .chart_legend_rings {
        text {
          fill: #000;
        }
      }
      .bars_container {
        display: block;
      }
      .bars_info_container {
        display: block;
        .bar_info_container {
          display: block;
          text {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .months_text {
    font-size: 14pt;
  }
  .meta_container {
    bottom: 40px;
    display: block;
    display: none;
    font-size: 9pt;
    left: calc(50%);
    position: absolute;
    width: 200px;
    z-index: 1;
    div {
      margin-bottom: 5px;
      a {
        color: #000;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .scales_container {
    bottom: 5px;
    color: #000;
    font-family: sans-serif;
    font-weight: 400;
    left: calc(50% - 90px);
    opacity: 1;
    position: absolute;
    z-index: 1;
    &:after,
    &:before {
      display: inline-block;
      font-size: 10pt;
      line-height: 14px;
      opacity: 1;
      letter-spacing: 0.02em;
      font-weight: bold;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 4px;
      white-space: nowrap;
      width: 28px;
    }
    &:before {
      content: '←needs supplies';
      right: -32px;
      text-align: left;
    }
    &:after {
      content: 'has supplies→';
      left: -120px;
      text-align: right;
    }
    .scale_container {
      color: #000;
      display: inline-block;
      float: left;
      font-size: 10pt;
      height: 20px;
      white-space: nowrap;
      width: 2px;
    }
    .scale_label {
      font-size: 11pt;
      opacity: 1;
      text-align: center;
    }
  }
  .legend_text {
    // display: none;
    font-size: 20pt;
    font-weight: bold;
    tspan {
      fill: #f00;
    }
  }
  .legend_path {
    // display: none;
  }
}

button {
  position: fixed;
  right: 0;
  top: 0;
}

@import 'basics.less';